body{
	position: relative;
	padding: 0;
	box-sizing: border-box;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
	display: block;
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	/*center horizontally*/
	margin-right: auto;
	margin-left: auto;
}