/*filters section*/
.filters{
	display: flex; /*fileters container to keep the box inside aligned*/
	position: relative;
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	flex-wrap: wrap;
}

button{
	/*center vertically and at 30px of the right border */
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translate(0, -50%);

	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
}
/*change opacity to 90% when the mouse is on the button*/
button:hover{
	opacity: 0.9;
}

.filters .location{
	width: 25%;
	height: 100%;
	border-right:1px solid #DDDDDD;
}

.filters .amenities{
	width: 25%;
	height: 100%;
}

h3{
	font-weight: 600;
	margin: 5px;
	margin-top: 10px;
}
h4{
	margin: 5px;
	font-weight: 400;
	font-size: 14px;
}
.filters div{
	margin-left: 40px;
}
